:root {
    /* Colors */
    --background: #fff;
    --background-2nd: #F7F6F4;
    --grey: #E8E8E8;
    --grey-light: #EEEEEE;

    --text: #474440;
    --text-light: #7B7B7B;
    --text-dark:#242221;

    --accent: #F5BE6B;
    --red: rgb(197, 63, 63);
    --red-dark: rgb(146, 40, 40);

    /* Values */
    --border-radius: 8px;
    --click-scale-factor: 0.95;
}

html,
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    font-family: Inter UI, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--text);
    background: var(--background);
}

.no-button {
    appearance: none;
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    color: var(--text);
    font-family: inherit;

    &:active {
        transform: scale(var(--click-scale-factor));
    }
}

.button {
    @extend .no-button;

    background: var(--background-2nd);
    padding: 0.5rem 0.8rem;
    border-radius: var(--border-radius);
    border: 2px solid var(--background-2nd);
    box-sizing: border-box;
    transition: border .2s ease;

    &:hover {
        border: 2px solid var(--grey);
        transition: none;
    }
}

.primary-button {
    @extend .button;

    color: var(--background);
    border: 2px solid var(--text);
    background: var(--text);

    &:hover {
        border: 2px solid var(--text-light);
    }
}

.danger-button {
    @extend .button;

    color: var(--background);
    border: 2px solid var(--red);
    background: var(--red);

    &:hover {
        border: 2px solid var(--red-dark);
    }
}

.no-input {
    appearance: none;
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    color: var(--text);
    font-family: inherit;
}

.input {
    @extend .no-input;

    padding: 0.5rem;
    background: var(--background-2nd);
    border-radius: var(--border-radius);
    border: 2px solid var(--background-2nd);
    width: 100%;
    transition: all .2s ease;
    box-sizing: border-box;
    font-size: 0.9rem;

    &:focus {
        border: 2px solid var(--grey);
        transition: none;
    }
}

.input-invalid {
    border: 2px solid var(--red);
    transition: none;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-placeholder,
::placeholder {
    color: var(--text-dark);
}

hr {
    width: 100%;
    border: 0;
    background: var(--grey);
    height: 2px;
    margin: 0;
}

a {
    color: var(--text);
    text-decoration: none;
}

.dropdown {
    @import "vue-select/src/scss/vue-select.scss";

    .vs__search::placeholder,
    .vs__dropdown-toggle,
    .vs__dropdown-menu {
        background: var(--background-2nd);
        border-radius: var(--border-radius);
        border: 2px solid var(--background-2nd);
        border-radius: var(--border-radius);
    }

    .vs__dropdown-option--highlight {
        background: var(--text)
    }
}